.pageContact {
  &__form {
    display: flex;
    justify-content: flex-end;
    margin-right: 31rem;
    margin-top: 3rem;

    @include tablet {
      margin-right: 6rem;
    }

    @include mobile {
      margin-right: 0;
      justify-content: flex-start;
    }
  }
}
