.pageContact {
  .content {
    min-height: calc(100vh - var(--h-navbar-desk) - var(--h-footer-secondary-desk));

    @include tablet {
      min-height: calc(100vh - var(--h-navbar-tablet) - var(--h-footer-secondary-tablet));
    }

    @include mobile {
      min-height: calc(100vh - var(--h-navbar-mobile) - var(--h-footer-secondary-mobile));
    }
  }

  &__form {
    display: flex;
    justify-content: flex-end;
    margin-right: 31rem;
    margin-top: 3rem;

    @include tablet {
      margin-right: 6rem;
    }

    @include mobile {
      margin-right: 0;
      justify-content: flex-start;
    }
  }
}
