<div class="graph-modal graph-modal--primary">
  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="one"
  >
    <div class="graph-modal__content">
      <div class="graph-modal__content--relative">
        <button
          class="btn-reset js-modal-close graph-modal__close"
          aria-label="Закрыть модальное окно"
        >
          <div class="btn__close">
            <span class="close__line"></span>
            <span class="close__line"></span>
          </div>
        </button>
        <video
          preload="metadata"
          loop=""
          muted=""
          playsinline=""
          src="../videos/videoDesk.mp4"
          type="video/mp4"
        ></video>
      </div>
    </div>
  </div>
  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="two"
  >
    <div class="graph-modal__content">
      <div class="graph-modal__content--relative">
        <button
          class="btn-reset js-modal-close graph-modal__close"
          aria-label="Закрыть модальное окно"
        >
          <div class="btn__close">
            <span class="close__line"></span>
            <span class="close__line"></span>
          </div>
        </button>
        <video
          preload="metadata"
          loop=""
          muted=""
          playsinline=""
          src="../videos/videoDesk.mp4"
          type="video/mp4"
        ></video>
      </div>
    </div>
  </div>
</div>
