<footer class="footer">
  <div class="footer__container">
    <div class="container">
      <div class="titleUnderLineC">
        <h6>Связаться со мной</h6>
        <span></span>
      </div>
      <div class="footer__content">
        <div class="footer__content--box">
          <div class="footer__up">
            <div class="formContactC">
              <a class="linkC-underline-hover" href="tel:+7 (912) 222-28-12"
                >+7 (912) 222-28-12</a
              >
              <a
                class="linkC-underline-hover"
                href="mailto:elena-pyasetskaya@gmail.com"
                >elena-pyasetskaya@gmail.com</a
              >
              <span
                ><svg class="icon-wp" viewBox="0 0 25 26">
                  <use xlink:href="img/sprite.svg#icon-wp"></use>
                </svg>
                <a class="linkC-underline" href="" target="_blank"
                  >написать в whats app</a
                ></span
              >
              <span>
                <svg class="icon-insta" viewBox="0 0 23 23">
                  <use xlink:href="img/sprite.svg#icon-insta"></use>
                </svg>
                <a class="linkC-underline" target="_blank" href=""
                  >instagram</a
                ></span
              >
            </div>
            <div class="footer__nav">
              <nav class="nav-menu" title="">
                <ul>
                  <li class="menu-item"><a href="#">Проекты</a></li>
                  <li class="menu-item"><a href="#">Обо мне</a></li>
                  <li class="menu-item"><a href="#">Услуги</a></li>
                  <li class="menu-item"><a href="#">Контакты</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="footer__down">
            <div class="footer__down--links">
              <a href="">Политика сайта</a>
              <span>© 2023 Все права защищены</span>
              <span>Создание сайта <a href="">Lepinskih</a></span>
            </div>
            <div class="footer__down--button">
              <a class="btn-reset" href="#top">
                <svg class="">
                  <use xlink:href="img/sprite.svg#icon-arrow-up"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
