<div class="pageAbout anim-opacity-page" style="--delay: 0.5s">
  <div class="container__primary">
    <div class="pageAbout__main">
      <div class="pageAbout__main--container anim-parallax-trigger">
        <img
          class="pageAbout__main--img anim-parallax-item"
          src="./img/image-1920-1.png"
          alt=""
        />
        <img
          class="pageAbout__main--img mobile anim-parallax-item"
          src="./img/image-320-1.png"
          alt=""
        />
      </div>
      <div class="pageAbout__main--fon"></div>
      <h1>Обо мне</h1>
    </div>
    <div class="container">
      <div class="content content-min-h-js pb-150-primary">
        <div class="pageAbout__content">
          <div class="pageAbout__row">
            <img src="./img/image-700-1.png" alt="" />
            <div class="text">
              <h4>МОЙ ПУТЬ</h4>
              <p>
                Я сотрудничала с CHANEL, СКОЛКОВО, CHARITY SHOP, FERRERO и
                другими компаниями. Участвовала в программах для детей детских
                домов Москвы и многих благотворительных проектах. Была стилистом
                Первого Забайкальского женского фестиваля и победила в конкурсе
                свадебных стилистов Москвы. Объездила с мастер-классами по
                мейкапу, прическам и стилю половину нашей страны и даже создала
                собственную программу САМ СЕБЕ СТИЛИСТ.
              </p>
            </div>
          </div>
          <div class="text-center">
            <div class="text-center-container">
              <p>
                Я сотрудничала с CHANEL, СКОЛКОВО, CHARITY SHOP, FERRERO и
                другими компаниями. Участвовала в программах для детей детских
                домов Москвы и многих благотворительных проектах. Была стилистом
                Первого Забайкальского женского фестиваля и победила в конкурсе
                свадебных стилистов Москвы. Объездила с мастер-классами по
                мейкапу, прическам и стилю половину нашей страны и даже создала
                собственную программу САМ СЕБЕ СТИЛИСТ.
              </p>
              <p>
                Несколько лет была предпринимателем - в партнерстве с подругой
                мы создали интересный проект "Дом красивых людей и красивых
                вещей" с шоурумом женской одежды для девушек невысокого роста и
                женским клубом.
              </p>
              <p>
                Так сложилось, что я работаю только с женщинами. Я выросла в
                "женской" семье, у меня много прекрасных подруг и мне кажется, я
                точно знаю, чего мы с вами хотим. Самое главное, что я всегда
                любила во всех своих профессиях — найти "изюм" в каждом, кто
                обратился ко мне за помощью.
              </p>
            </div>
          </div>
          <div class="link-center">
            <a class="linkC-underline" href="projects.html"
              >ПОЗНАКОМЬТЕСЬ С МОИМИ РАБОТАМИ</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
