<div class="pageContact anim-opacity-page" style="--delay: 0.5s">
  <div class="container__primary">
    <div class="container">
      <div class="content content-min-h-js pt-146-primary">
        <div class="titleUnderLineC">
          <h1>Контакты</h1>
          <span></span>
        </div>
        <div class="pageContact__form">
          <div class="formContactC">
            <a class="linkC-underline-hover" href="tel:+7 (912) 222-28-12"
              >+7 (912) 222-28-12</a
            >
            <a
              class="linkC-underline-hover"
              href="mailto:elena-pyasetskaya@gmail.com"
              >elena-pyasetskaya@gmail.com</a
            >
            <span
              ><svg class="icon-wp" viewBox="0 0 25 26">
                <use xlink:href="img/sprite.svg#icon-wp"></use>
              </svg>
              <a
                class="linkC-underline"
                href="https://web.whatsapp.com/"
                target="_blank"
                >написать в whats app</a
              ></span
            >
            <span>
              <svg class="icon-insta" viewBox="0 0 23 23">
                <use xlink:href="img/sprite.svg#icon-insta"></use>
              </svg>
              <a
                class="linkC-underline"
                target="_blank"
                href="https://www.instagram.com/"
                >instagram</a
              ></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
