<div class="pageServices anim-opacity-page" style="--delay: 0.5s">
  <div class="container__primary">
    <div class="container">
      <div class="content content-min-h-js pt-146-primary pb-150-primary">
        <div class="titleC">
          <h1>Услуги</h1>
        </div>
        <div class="accordion-container">
          <div class="ac">
            <div class="ac-header">
              <button type="button" class="ac-trigger">
                <div class="ac-block">
                  <div class="ac-left">ОБРАЗЫ</div>
                  <div class="ac-right">
                    <div class="ac-caret">
                      <i class="ac-caret-icon"></i>
                    </div>
                  </div>
                </div>
              </button>
            </div>
            <div class="ac-panel">
              <div class="ac-box">
                <div class="textC">
                  <p>
                    Помогает понять, почему прежний стиль больше не нравится,
                    какие вещи портят впечатление, какие из них морально
                    устарели и какой стиль будет более уместным для вашей
                    ситуации. Услуга актуальна тем, кому важно получить обратную
                    связь по своему образу и разобраться - какие вещи оставить,
                    как их сочетать, от каких избавиться, что докупить.
                  </p>
                  <p>
                    Разбор гардероба проходит у вас дома, куда я приезжаю по
                    предварительной договоренности. Потребуется хорошее
                    освещение, зеркало в полный рост и время, которое вы готовы
                    посвятить себе не отвлекаясь. Будет здорово, если перед моим
                    визитом вы заберете вещи из химчистки, ремонта и загородных
                    домов. То, что вам не по размеру, вышло из строя,
                    категорически неудобно носить и просто надоело - лучше
                    убрать из шкафа самостоятельно, до моего визита. Так мы
                    сэкономим время и сосредоточимся на главном.
                  </p>
                </div>
                <img src="./img/image-728-1.png" alt="" />
              </div>
            </div>
          </div>
          <div class="ac">
            <div class="ac-header">
              <button type="button" class="ac-trigger">
                <div class="ac-block">
                  <div class="ac-left">Мода</div>
                  <div class="ac-right">
                    <div class="ac-caret">
                      <i class="ac-caret-icon"></i>
                    </div>
                  </div>
                </div>
              </button>
            </div>
            <div class="ac-panel">
              <div class="ac-box">
                <div class="textC">
                  <p>
                    Помогает понять, почему прежний стиль больше не нравится,
                    какие вещи портят впечатление, какие из них морально
                    устарели и какой стиль будет более уместным для вашей
                    ситуации. Услуга актуальна тем, кому важно получить обратную
                    связь по своему образу и разобраться - какие вещи оставить,
                    как их сочетать, от каких избавиться, что докупить.
                  </p>
                  <p>
                    Разбор гардероба проходит у вас дома, куда я приезжаю по
                    предварительной договоренности. Потребуется хорошее
                    освещение, зеркало в полный рост и время, которое вы готовы
                    посвятить себе не отвлекаясь. Будет здорово, если перед моим
                    визитом вы заберете вещи из химчистки, ремонта и загородных
                    домов. То, что вам не по размеру, вышло из строя,
                    категорически неудобно носить и просто надоело - лучше
                    убрать из шкафа самостоятельно, до моего визита. Так мы
                    сэкономим время и сосредоточимся на главном.
                  </p>
                </div>
                <img src="./img/image-728-1.png" alt="" />
              </div>
            </div>
          </div>
          <div class="ac">
            <div class="ac-header">
              <button type="button" class="ac-trigger">
                <div class="ac-block">
                  <div class="ac-left">интерьеры</div>
                  <div class="ac-right">
                    <div class="ac-caret">
                      <i class="ac-caret-icon"></i>
                    </div>
                  </div>
                </div>
              </button>
            </div>
            <div class="ac-panel">
              <div class="ac-box">
                <div class="textC">
                  <p>
                    Помогает понять, почему прежний стиль больше не нравится,
                    какие вещи портят впечатление, какие из них морально
                    устарели и какой стиль будет более уместным для вашей
                    ситуации. Услуга актуальна тем, кому важно получить обратную
                    связь по своему образу и разобраться - какие вещи оставить,
                    как их сочетать, от каких избавиться, что докупить.
                  </p>
                  <p>
                    Разбор гардероба проходит у вас дома, куда я приезжаю по
                    предварительной договоренности. Потребуется хорошее
                    освещение, зеркало в полный рост и время, которое вы готовы
                    посвятить себе не отвлекаясь. Будет здорово, если перед моим
                    визитом вы заберете вещи из химчистки, ремонта и загородных
                    домов. То, что вам не по размеру, вышло из строя,
                    категорически неудобно носить и просто надоело - лучше
                    убрать из шкафа самостоятельно, до моего визита. Так мы
                    сэкономим время и сосредоточимся на главном.
                  </p>
                </div>
                <img src="./img/image-728-1.png" alt="" />
              </div>
            </div>
          </div>
          <div class="ac">
            <div class="ac-header">
              <button type="button" class="ac-trigger">
                <div class="ac-block">
                  <div class="ac-left">фотосессии</div>
                  <div class="ac-right">
                    <div class="ac-caret">
                      <i class="ac-caret-icon"></i>
                    </div>
                  </div>
                </div>
              </button>
            </div>
            <div class="ac-panel">
              <div class="ac-box">
                <div class="textC">
                  <p>
                    Помогает понять, почему прежний стиль больше не нравится,
                    какие вещи портят впечатление, какие из них морально
                    устарели и какой стиль будет более уместным для вашей
                    ситуации. Услуга актуальна тем, кому важно получить обратную
                    связь по своему образу и разобраться - какие вещи оставить,
                    как их сочетать, от каких избавиться, что докупить.
                  </p>
                  <p>
                    Разбор гардероба проходит у вас дома, куда я приезжаю по
                    предварительной договоренности. Потребуется хорошее
                    освещение, зеркало в полный рост и время, которое вы готовы
                    посвятить себе не отвлекаясь. Будет здорово, если перед моим
                    визитом вы заберете вещи из химчистки, ремонта и загородных
                    домов. То, что вам не по размеру, вышло из строя,
                    категорически неудобно носить и просто надоело - лучше
                    убрать из шкафа самостоятельно, до моего визита. Так мы
                    сэкономим время и сосредоточимся на главном.
                  </p>
                </div>
                <img src="./img/image-728-1.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
