<div class="preloader data-preloader">
  <div class="preloader__words">
    <span class="preloader__words--one data-word-one">elena pyasetskaya</span>
    <span class="preloader__words--two data-word-two">style consulting</span>
  </div>
</div>
<div class="pageHome">
  <div class="container__primary">
    <div class="pageHome__slider--container anim-parallax-trigger">
      <div class="pageHome__slider--trigger anim-parallax-item">
        <div class="pageHome__slider--fon"></div>
        <div
          class="swiper pageHome__slider anim-item-scale"
          style="--delay: 0.5s"
        >
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <picture>
                <source
                  media="(max-width: 667px)"
                  srcset="../img/slider-home-1-m.png"
                />
                <source
                  media="(max-width: 1024px)"
                  srcset="../img/slider-home-1-t.png"
                />
                <img class="image" src="./img/slider-home-1-d.png" alt="" />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  media="(max-width: 667px)"
                  srcset="../img/image-320-1.png"
                />
                <source
                  media="(max-width: 1024px)"
                  srcset="../img/image-1920-1.png"
                />
                <img class="image" src="./img/image-1920-1.png" alt="" />
              </picture>
            </div>
          </div>
        </div>
      </div>
      <div
        class="pageHome__slider--text anim-opacity-up-home"
        style="--delay: 1.5s"
      >
        <h4>Стиль и креатив для:</h4>
        <p>
          Фотосессий<br />
          Видео<br />
          Событий<br />
          Персонального гардероба <br />
        </p>
      </div>
      <div class="cookieHome data-cookie display-none">
        <div class="cookieHome__container font-secondary">
          <button class="btn-reset btn-close-cookieHome">
            <svg class="" width="10" height="10" viewBox="0 0 10 10">
              <use xlink:href="img/sprite.svg#icon-close-cookie"></use>
            </svg>
          </button>
          <span>Мы используем файлы cookie, чтобы улучшить сайт для вас</span>
        </div>
      </div>
    </div>

    <div class="content content-min-h-js pb-150-primary">
      <div class="aboutBlock__container container">
        <div class="aboutBlock">
          <div class="aboutBlock__img">
            <img src="./img/image-768-1.png" alt="" />
          </div>
          <div class="aboutBlock__text">
            <h4>обо мне</h4>
            <p>
              В профессии я уже 14 лет. За эти годы прошла путь от работы по
              оформлению витрин магазинов MaxMara в Римини, работы со звёздами
              лейбла Blackstar inc, художника по костюмам Евровидения, Лореаль
              Россия и директора отдела моды глянцевых журналов, до имидж коуча,
              который помогает понять и принять свою индивидуальность и раскрыть
              её через персональный имидж.Несколько лет назад я начала вести
              блог и осознала, что хочу помогать обычным женщинам обрести себя
              через имидж!
            </p>
            <div class="aboutBlock__links">
              <a class="linkC-underline" href="about.html">Подробнее</a>
              <a class="linkC-underline" href="">
                <svg viewBox="0 0 23 23">
                  <use xlink:href="img/sprite.svg#icon-insta"></use>
                </svg>
                instagram</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="parallaxBlock__main">
        <div class="parallax__trigger"></div>
        <div class="hero">
          <div class="parallaxBlock__fon"></div>
          <!-- <div
            class="parallaxBlock__img"
            style="background-image: url('./img/image-1920-2.png')"
          ></div> -->
          <div
            class="hero-bg"
            style="background-image: url('./img/image-1920-2.png')"
          ></div>
          <div class="parallaxBlock__text">
            <p>
              Я хочу, чтобы как можно больше людей стали счастливее, уверенней в
              себе, нашли и приняли лучшую версию себя без чудо похудений и
              "ягод годжи", а просто посредством правильного имиджа, созвучного
              с типом внешности и психотипом, вашим характером и образом жизни.
            </p>
          </div>
        </div>
        <div class="data-parallax-trigger-end"></div>
        <div class="parallax__trigger"></div>
      </div>

      <div class="projectsBlock container">
        <div class="projectsBlock__title">
          <h4>проекты</h4>
          <a class="mobile" href="projects.html"><span></span>все</a>
        </div>
        <div class="projectsBlock__container">
          <div class="projectsBlock__links">
            <div class="projectsBlock__links--anim">
              <a class="linkC" data-link="1" href="projects.html">
                <svg viewBox="0 0 65 15">
                  <use xlink:href="img/sprite.svg#icon-arrow-projects"></use>
                </svg>
                <span>ОБРАЗЫ</span>
              </a>
              <a class="linkC" data-link="2" href="projects.html">
                <svg viewBox="0 0 65 15">
                  <use xlink:href="img/sprite.svg#icon-arrow-projects"></use>
                </svg>
                <span>МОДА</span>
              </a>
              <a class="linkC" data-link="3" href="projects.html">
                <svg viewBox="0 0 65 15">
                  <use xlink:href="img/sprite.svg#icon-arrow-projects"></use>
                </svg>
                <span>ИНТЕРЬЕРЫ</span>
              </a>
              <a class="linkC" data-link="4" href="projects.html">
                <svg viewBox="0 0 65 15">
                  <use xlink:href="img/sprite.svg#icon-arrow-projects"></use>
                </svg>
                <span>ФОТОСЕССИИ</span>
              </a>
            </div>
            <div class="projectsBlock__links--last">
              <a class="linkC-underline" href="projects.html">все проекты</a>
            </div>
          </div>
          <div class="projectsBlock__grid">
            <a href="projects.html" data-link-img="1" class="itemC">
              <img src="./img/image-510-1.png" alt="" />
              <span>ОБРАЗЫ</span>
            </a>
            <a href="projects.html" data-link-img="2" class="itemC">
              <img src="./img/image-510-2.png" alt="" />
              <span>МОДА</span>
            </a>
            <a href="projects.html" data-link-img="3" class="itemC">
              <img src="./img/image-510-3.png" alt="" />
              <span>ИНТЕРЬЕРЫ</span>
            </a>
            <a href="projects.html" data-link-img="4" class="itemC">
              <img src="./img/image-510-4.png" alt="" />
              <span>ФОТОСЕССИИ</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
