<div class="pageProjects">
  <div class="container__primary">
    <div class="container">
      <div class="content content-min-h-js pt-146-primary pb-150-primary">
        <div class="title">
          <h1>Проекты</h1>
          <p>
            За эти годы ко мне обратилось более 2 000 клиентов. Я очень
            благодарна тем, кто разрешил опубликовать результат нашей работы в
            виде фотографий.
          </p>
        </div>
        <div class="filter filter__primary filter__primary--products">
          <div class="filter__primary--container">
            <ul
              class="filter__nav filter__nav-to-dropdown filter__primary--nav"
            >
              <li class="filter__nav-item filter__primary--item">
                <button
                  class="filter__nav-btn filter__primary--btn"
                  type="button"
                  data-filter="all"
                >
                  все проекты
                </button>
              </li>
              <li class="filter__nav-item filter__primary--item">
                <button
                  class="filter__nav-btn filter__primary--btn"
                  type="button"
                  data-filter=".images"
                >
                  ОБРАЗЫ
                </button>
              </li>
              <li class="filter__nav-item filter__primary--item">
                <button
                  class="filter__nav-btn filter__primary--btn"
                  type="button"
                  data-filter=".fashion"
                >
                  МОДА
                </button>
              </li>
              <li class="filter__nav-item filter__primary--item">
                <button
                  class="filter__nav-btn filter__primary--btn"
                  type="button"
                  data-filter=".interiors"
                >
                  ИНТЕРЬЕРЫ
                </button>
              </li>
              <li class="filter__nav-item filter__primary--item">
                <button
                  class="filter__nav-btn filter__primary--btn"
                  type="button"
                  data-filter=".photoshoot"
                >
                  ФОТОСЕССИИ
                </button>
              </li>
            </ul>
          </div>
          <div class="filter__content filter__primary--content">
            <div
              class="filter__panel filter__panel--active filter__primary--panel"
            >
              <div class="pageProjects__container">
                <div class="mix images">
                  <a href="project.html" class="itemC">
                    <img class="image" src="./img/image-586-1.png" alt="" />
                    <span>Съемка обложки для National business</span>
                  </a>
                </div>
                <div class="mix fashion">
                  <a href="project.html" class="itemC">
                    <img class="image" src="./img/image-586-2.png" alt="" />
                    <span>Подроб гардероба для блогера @katia_vemer</span>
                  </a>
                </div>
                <div class="mix interiors">
                  <a href="project.html" class="itemC">
                    <img class="image" src="./img/image-586-3.png" alt="" />
                    <span>Стилизация интерьера отеля Hyatt Regency</span>
                  </a>
                </div>
                <div class="mix images">
                  <a href="project.html" class="itemC">
                    <img class="image" src="./img/image-586-4.png" alt="" />
                    <span>Съемка обложки для National business</span>
                  </a>
                </div>
                <div class="mix fashion">
                  <a href="project.html" class="itemC">
                    <img class="image" src="./img/image-586-5.png" alt="" />
                    <span>Съемка обложки для National business</span>
                  </a>
                </div>
                <div class="mix photoshoot">
                  <a href="project.html" class="itemC">
                    <img class="image" src="./img/image-586-6.png" alt="" />
                    <span>Подроб гардероба для блогера @katia_vemer</span>
                  </a>
                </div>
                <div class="mix images">
                  <a href="project.html" class="itemC">
                    <img class="image" src="./img/image-586-1.png" alt="" />
                    <span>Съемка обложки для National business</span>
                  </a>
                </div>
                <div class="mix photoshoot">
                  <a href="project.html" class="itemC">
                    <img class="image" src="./img/image-586-2.png" alt="" />
                    <span>Подроб гардероба для блогера @katia_vemer</span>
                  </a>
                </div>
                <div class="mix interiors">
                  <a href="project.html" class="itemC">
                    <img class="image" src="./img/image-586-3.png" alt="" />
                    <span>Стилизация интерьера отеля Hyatt Regency</span>
                  </a>
                </div>
              </div>
              <div class="pageProjects__also">
                <button class="btn-reset linkC-underline">показать еще</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
