<div class="pageProject anim-opacity-page" style="--delay: 0.5s">
  <div class="container__primary">
    <div class="pageProject__main pageAbout__main">
      <div class="pageAbout__main--container anim-parallax-trigger">
        <img
          class="pageAbout__main--img desk anim-parallax-item"
          src="./img/image-1920-1.png"
          alt=""
        />
        <img
          class="pageAbout__main--img mobile anim-parallax-item"
          src="./img/image-320-1.png"
          alt=""
        />
      </div>
      <div class="pageAbout__main--fon"></div>
      <div class="pageAbout__main--text">
        <span>Съемка обложки</span>
        <span>Краткая подпись к проекту в одну или две строчки</span>
      </div>
    </div>
    <div class="container">
      <div class="content content-min-h-js pb-150-primary">
        <div class="text">
          <p>
            Света, чудесный светлый человек, занимается нутрициологией,
            психологией и коучингом. Мы делали консультацию по стилю, разбор
            гардероба и шоппинг. Задача была сделать повседневный гардероб более
            женственным, но при этом удобным. Ввести современные вещи и
            поучиться актуально стилизовать комплекты. Мы использовали Светины
            любимые вещи и украшения в новых образах, усилили ее собственный
            стиль.
          </p>
          <p>
            Работать со Светочкой было сплошное удовольствие - сильная
            внутренняя харизма и доверие мне, как специалисту, помогли раскрыть
            ее стиль еще ярче, харАктернее. А Света, в свою очередь, стала более
            уверенной в себе, смелой, и просто невероятно красивой.
          </p>
        </div>
        <div class="images">
          <div class="images__slider--container">
            <div class="swiper images__slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="./img/image-1840-1.png" alt="" />
                </div>
                <div class="swiper-slide">
                  <img src="./img/image-1840-1.png" alt="" />
                </div>
                <div class="swiper-slide">
                  <img src="./img/image-1840-1.png" alt="" />
                </div>
              </div>
              <div class="swiper-pagination"></div>
              <div class="swiper-button-prev">
                <svg class="" viewBox="0 0 9 15">
                  <use xlink:href="img/sprite.svg#icon-arrow-slider"></use>
                </svg>
              </div>
              <div class="swiper-button-next">
                <svg class="" viewBox="0 0 9 15">
                  <use xlink:href="img/sprite.svg#icon-arrow-slider"></use>
                </svg>
              </div>
            </div>
          </div>
          <div class="images__one">
            <img src="./img/image-1840-2.png" alt="" />
          </div>
          <div class="images__two">
            <img src="./img/image-900-1.png" alt="" />
            <img src="./img/image-900-2.png" alt="" />
          </div>
          <div class="images__one">
            <img src="./img/image-1840-3.png" alt="" />
          </div>
        </div>
        <div class="text">
          <p>
            Света, чудесный светлый человек, занимается нутрициологией,
            психологией и коучингом. Мы делали консультацию по стилю, разбор
            гардероба и шоппинг. Задача была сделать повседневный гардероб более
            женственным, но при этом удобным. Ввести современные вещи и
            поучиться актуально стилизовать комплекты. Мы использовали Светины
            любимые вещи и украшения в новых образах, усилили ее собственный
            стиль.
          </p>
        </div>
        <div class="link__last">
          <a class="linkC-underline" href="projects.html">все проекты</a>
        </div>
      </div>
    </div>
  </div>
</div>
