:root {
  // base
  --font-family: "Helvetica Neue", sans-serif;
  --content-width: 184rem;
  --container-offset: 4rem;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white: #fff;
  --white-200: #efefef;
  --black: #000000;

  // height width
  --min-height: 86vh;

  // z-index
  --z-menu: 5;
  --z-navbar: 4;

  --swiper-navigation-size: 4.4rem;
  --swiper-theme-color: #fff;
}
